
.navbar {
    background-color: #b2a48a;
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 50;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
    flex: 1;
  }
  
  .navbar-menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .navbar-icons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .navbar-icon {
    width: 20px;
    height: 20px;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Menú desplegable */
.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-top: 1px;
    z-index: 100;
    display: none; /* Ocultar el menú por defecto */
  }
  
  /* Mostrar el menú cuando esté abierto */
  .menu-dropdown.open {
    display: block; /* Mostrar el menú */
  }
  
 
  .menu-list {
    list-style: none;
    padding: 8px 16px;
    margin: 0;
  }
  
  
  .menu-item {
    padding: 12px 0;
    border-bottom: 1px solid #e2e2e2;
  }
  
  .menu-item:last-child {
    border-bottom: none;
  }
  
  
  .menu-link {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 16px;
  }
  
  .menu-link:hover {
    color: #b2a48a;
  }
  
  
  /* Responsive */
  @media (min-width: 768px) {
    .navbar-logo {
      text-align: left;
      flex: none;
      margin-left: 20px;
    }
  
    /* Muestra el botón hamburguesa siempre */
    .menu-button-container {
      display: block;
    }

    .menu-dropdown {
      display: none;
    }
  
    .desktop-only {
      display: block;
    }
  
    .navbar-desktop-menu {
      display: flex;
      margin-left: 40px;
    }
  
    .navbar-desktop-menu a {
      margin-right: 24px;
      text-decoration: none;
      color: black;
    }
  }
  
  @media (max-width: 767px) {
    .desktop-only {
      display: none;
    }
  
    .navbar-desktop-menu {
      display: none;
    }
  
    .menu-button-container {
      width: 24px;
    }
  
    .navbar-logo {
      flex: 1;
      text-align: center;
    }
  
    /* Muestra el menú hamburguesa solo en pantallas pequeñas */
    .menu-button-container {
      display: block;
    }
  }
  