
.okrecords-container {
    background-image: url('/12.png'); /*Imagen de fondo en todas las pantallas*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
  }
  

  .center-image {
    text-align: center;
  }
  
  .logo {
    width: 500px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  

  .text-content {
    background-color: rgba(238, 230, 230, 0.7); 
    padding: 2rem;
    border-radius: 12px;
    margin-top: 2rem;
    max-width: 900px;
    font-size: 1rem;
    line-height: 1.6;
    color: #1a1a1a;
    text-align: justify;
    
  }

  .text-content strong {
    font-weight: bold;
    color: #000;
  }
  